<html>
  <head>
    <title>BeaverDam</title>
    <script>
      CSRFToken = '{{ csrf_token }}';
    </script>

    <script src="/static/vendor/jquery/jquery.js"></script>
    <script src="/static/vendor/lodash/lodash.js"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"/></script>
    <script src="/static/vendor/randomColor/randomColor.js"></script>

    {% block head %}{% endblock %}

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
