<html>
  <head>
    <title>BeaverDam</title>
    <script>
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }
      CSRFToken = getCookie('csrftoken');
      if (CSRFToken === undefined) {
        CSRFToken = '{{ csrf_token }}';
      } else {
        CSRFTokenAlt = '{{ csrf_token }}';
      }
    </script>

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/static/vendor/jquery/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

    <script src="/static/vendor/lodash/lodash.js"></script>
    <!-- <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <script type='text/javascript' src="/static/vendor/bootstrap/js/bootstrap.min.js"/></script> -->
    <script type='text/javascript' src="/static/vendor/randomColor/randomColor.js"></script>

    {% block head %}{% endblock %}

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
