{% extends "base.html" %}

{% block body %}
<table class="table table-hover" style="width:500px; margin: 0 auto;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Annotations</th>
      <th>Verified</th>
      <th>Source</th>
      {% if thumbnail %}
        <th>Video</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for video in videos %}
    <tr onclick="window.document.location='{% url "video" video.id %}';" style="cursor: pointer;">
      <td>{{ video.id }}</td>
      <td>{{ video.annotation|yesno }}</td>
      <td>{{ video.verified|yesno }}</td>
      <td>{{ video.source }}</td>
      {% if thumbnail %}
        <td><video height="100"><source src="{{ video.url }}" type="video/mp4"></video>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
