<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/app.css"/>
        <script>
            video = {{ video_data|safe }};
        </script>
        <script src="/static/box.js"></script>
        <script src="/static/thing.js"></script>
        <script src="/static/canvas.js"></script>
        <script src="/static/frame.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    </head>


    <body style="text-align:center">
        <div class="panel panel-default panel-space">
            <div class="row">

                <div id="fixed-panel" class="col-xs-6">
                    <div class="panel-body">

                        <div class="btn-group" data-toggle="buttons">
                            <span class="label label-default">Car <input type="radio" name="object" value="car" checked></span>
                            <span class="label label-primary">Human <input type="radio" name="object" value="human"></span>
                            <span class="label label-success">Tree <input type="radio" name="object" value="tree"></span>
                            <span class="label label-info">Animal <input type="radio" name="object" value="animal"></span>
                            <span class="label label-warning">Vehicle <input type="radio" name="object" value="vehicle"></span>
                            <span class="label label-danger">Other <input type="radio" name="object" value="other"> </span>
                        </div>

                        <button id="submit" type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-left: 300px">Submit</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Notification</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p id="response"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <canvas id="frame">
                        </canvas>

                        <div id="frame-controller" class="panel panel-primary">
                            <div class="panel-heading">
                                <div id="play-button" class="glyphicon glyphicon-play"></div>

                                <input id="scroll-bar" type="range" min="0" max="5000" value="0" step="1"/>
                                <input class="form-control" id="frame-number" placeholder="0">
                            </div>
                        </div>

                        <div id="key-frames-controller" class="panel panel-success">
                            <div class="panel-heading" style="background-color: #3A7734">

                                <div id="key-frames">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-xs-6 col-md-4">
                    <ul id="shape-list" class="list-group row">
                    </ul>
                </div>

            </div>

        </div>

    </body>

</html>
