<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/app.css"/>
    <script>
      video = {{ video_data|safe }};
    </script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/static/app.js"></script>
    <script type="text/javascript" src="/static/bounds.js"></script>
    <script type="text/javascript" src="/static/player.js"></script>
    <script type="text/javascript" src="/static/thing.js"></script>
    <script type="text/javascript" src="/static/thingdrawing.js"></script>
  </head>

  <body style="text-align:center">
    <div class="panel panel-default panel-space player-container" id="player">
      <div class="row">

        <div id="fixed-panel" class="col-lg-6">
          <div class="panel-body">

            <div data-toggle="buttons">
              <label for="object-radio-car" class="label label-default">
                Car
                <input type="radio" name="object" id="object-radio-car" value="car" checked>
              </label>
              <label for="object-radio-human" class="label label-primary">
                Human
                <input type="radio" name="object" id="object-radio-human" value="human">
              </label>
              <label for="object-radio-tree" class="label label-success">
                Tree
                <input type="radio" name="object" id="object-radio-tree" value="tree">
              </label>
              <label for="object-radio-animal" class="label label-info">
                Animal
                <input type="radio" name="object" id="object-radio-animal" value="animal">
              </label>
              <label for="object-radio-vehicle" class="label label-warning">
                Vehicle
                <input type="radio" name="object" id="object-radio-vehicle" value="vehicle">
              </label>
              <label for="object-radio-other" class="label label-danger">
                Other
                <input type="radio" name="object" id="object-radio-other" value="other"> 
              </label>

              {% if preview == False %}
                {% if assignment_id != None %}
                <form method="post" id="turk-form" action="https://{{ MTURK_SANDBOX|yesno:'workersandbox,www'}}.mturk.com/mturk/externalSubmit" style="margin-left: 300px">
                  <input type="hidden" value="{{ assignment_id }}" name="assignmentId">
                  <input type="hidden" value="{{ video.name }}" name="video-name">
                  <button id="submit-btn" type="submit"  class="btn btn-primary">Submit</button>
                </form>

                {% else %}
                <button id="submit-btn" type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-left: 300px">Submit</button>
                {% endif %}
              {% endif %}
            </div>


            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notification</h4>
                  </div>
                  <div class="modal-body">
                    <p id="response"></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <div class="player-screen">
              <video class="player-video"></video>
              <div class="player-paper"></div>
            </div>

            <div id="frame-controller" class="panel panel-primary">
              <div class="panel-heading">
                <input id="scroll-bar" class="player-control-scrubber" type="range" min="0" max="5000" value="0" step="1"/>

                <div id="play-button" class="glyphicon glyphicon-play player-control-play"></div>
                <div id="pause-button" class="glyphicon glyphicon-pause player-control-pause"></div>
                <input class="form-control player-control-time" id="frame-number" placeholder="0">
              </div>
            </div>

            <div id="key-frames-controller" class="panel panel-success">
              <div class="panel-heading" style="background-color: #3A7734">

                <div id="key-frames">

                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="col-xs-6 col-md-4">
          <ul id="shape-list" class="list-group row">
          </ul>
        </div>

      </div>

    </div>

  </body>

</html>
