.player-screen {
  position: relative;
  overflow: hidden;
}

.player-video {
    // position: absolute;
    top: 0;
}

.player-paper {
    position: absolute;
    top: 0;
}


#frame {
    display: block;
    background-color: #eee;
    background-image: url('/static/img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    border: solid;

    margin-top: 10px;
    margin-right: auto;
}

#scroll-bar {
    display: inline-block;
}

#fixed-panel {
    text-align: left;
    margin-right: 0px;
}

#left-container {
    padding-left: 0px;
    margin-left: 0px;
    width: 841px;
    display: inline-block;

    margin-top: 0;
}
#shape-list {
    padding-left: 30px;
    padding-top: 45px;
}

#frame-controller {
    margin-bottom: 0;
}

#frame-number {
    display: inline-block;
    width: 60px;
}

#key-frames-controller{
    /* width: 827px; */
}

.panel-space {
    margin: 50px;
}


.dots {
    width: 0;
    height: 0;
    border: 50% solid transparent;
    border-bottom: 6% solid #f0ad4e;
    position: absolute;
    margin-left: 72px;
    top: 0%;
}
.dots:after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 7px solid #f0ad4e;
}


.player-keyframebar-keyframe {
    position: absolute;
    color: orange;
    width: auto;
    height: 100%;
    top: 0;
    margin-left: -.7em;
}

.player-keyframebar {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
    /* box-sizing: border-box; */
    height: 1.4em;
}