<div class="modal fade" id="genericModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="genericModalTitle" class="modal-title submit-result">aaa</h4>
      </div>

      <div class="modal-body">
        <span id="genericModalMessage">aaa</span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
