<div class="modal fade" id="instructionModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title submit-result">Instructions &amp; Requirements</h4>
      </div>
      <div class="modal-body">{{help_content | safe}}</div>
      <div class="modal-footer">
        <button id="submit-survey-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
