#frame {
    display: block;
    background-color: #eee;
    background-image: url('/static/img/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    border: solid;

    margin-top: 10px;
    margin-right: auto;
}

#scroll-bar {
    display: inline-block;
    width: 80%;
}

#fixed-panel {
    text-align: left;
    margin-right: 0px;
}

#left-container {
    padding-left: 0px;
    margin-left: 0px;
    width: 841px;
    display: inline-block;

    margin-top: 0;
}
#shape-list {
    padding-left: 30px;
    padding-top: 45px;
}

#frame-controller {
    margin-bottom: 0;
}

#frame-number {
    display: inline-block;
    width: 60px;
}

#play-button {
    font-size: 1.2em;
    padding-right: 5px;
}

#key-frames-controller{
    width: 827px;
}

.panel-space {
    margin: 50px;
}


.dots {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 7px solid #f0ad4e;
    position: absolute;
    margin-left: 72px;
    margin-top: 617px;
    top: -5px;
}
.dots:after {
    content: '';
    position: absolute;
    left: -5px; top: 7px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 7px solid #f0ad4e;
}
