
#frame {
    display: block;
    background-image: url('/static/videos/test_vid/0/0/0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border: solid;

    padding-top: 10px;
    margin-top: 10px;

    margin-right: auto;
}
#scoll-bar
{
    padding: 10px;
}