
#frame {
    display: inline-block; 
    background-image: url('/static/videos/test_vid/0/0/0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px;
    border: solid;
}
.center-div
{
    margin: 0 auto;
    width: 300px;
    background-color: #ccc;
    border-radius: 3px;
}